VITE_SERVER_URL=


BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
CORS_ORIGIN=

DATABASE_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_ACCESS_KEY=
CLOUDFLARE_S3_API=
CLOUDFLARE_BUCKET_NAME=
CLOUDFLARE_FOLDER_NAME=
CLOUDFLARE_PUBLIC_URL=